	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/07/2016 15:09
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-bad-weather:before { content: "\f100"; }
.flaticon-bad-weather-1:before { content: "\f101"; }
.flaticon-barometer:before { content: "\f102"; }
.flaticon-cardinal-points:before { content: "\f103"; }
.flaticon-celsius:before { content: "\f104"; }
.flaticon-cloudy-night:before { content: "\f105"; }
.flaticon-fahrenheit:before { content: "\f106"; }
.flaticon-foggy:before { content: "\f107"; }
.flaticon-foggy-1:before { content: "\f108"; }
.flaticon-foggy-2:before { content: "\f109"; }
.flaticon-foggy-3:before { content: "\f10a"; }
.flaticon-foggy-4:before { content: "\f10b"; }
.flaticon-hail:before { content: "\f10c"; }
.flaticon-mist:before { content: "\f10d"; }
.flaticon-mist-1:before { content: "\f10e"; }
.flaticon-mist-2:before { content: "\f10f"; }
.flaticon-moon:before { content: "\f110"; }
.flaticon-moon-1:before { content: "\f111"; }
.flaticon-moon-2:before { content: "\f112"; }
.flaticon-night-rain:before { content: "\f113"; }
.flaticon-night-rain-1:before { content: "\f114"; }
.flaticon-planet:before { content: "\f115"; }
.flaticon-rain:before { content: "\f116"; }
.flaticon-rain-1:before { content: "\f117"; }
.flaticon-rainbow:before { content: "\f118"; }
.flaticon-rainfall:before { content: "\f119"; }
.flaticon-rainfall-1:before { content: "\f11a"; }
.flaticon-snow:before { content: "\f11b"; }
.flaticon-snow-1:before { content: "\f11c"; }
.flaticon-snowing:before { content: "\f11d"; }
.flaticon-snowing-1:before { content: "\f11e"; }
.flaticon-snowing-2:before { content: "\f11f"; }
.flaticon-storm:before { content: "\f120"; }
.flaticon-storm-1:before { content: "\f121"; }
.flaticon-thermometer:before { content: "\f122"; }
.flaticon-thermometer-1:before { content: "\f123"; }
.flaticon-thermometer-2:before { content: "\f124"; }
.flaticon-thermometer-3:before { content: "\f125"; }
.flaticon-thermometer-4:before { content: "\f126"; }
.flaticon-thermometer-5:before { content: "\f127"; }
.flaticon-thunder:before { content: "\f128"; }
.flaticon-thunder-1:before { content: "\f129"; }
.flaticon-tornado:before { content: "\f12a"; }
.flaticon-tsunami:before { content: "\f12b"; }
.flaticon-umbrella:before { content: "\f12c"; }
.flaticon-weather:before { content: "\f12d"; }
.flaticon-wind:before { content: "\f12e"; }
.flaticon-windmill:before { content: "\f12f"; }
.flaticon-windy:before { content: "\f130"; }
.flaticon-windy-1:before { content: "\f131"; }